<template>
    <BarRouter></BarRouter>
</template>

<script>
import BarRouter from './components/BarRouter.vue';

export default {
name: "main",
components: {
    BarRouter
},
}
</script>

<style scoped>

</style>
