<template>
    <div style="display: flex; justify-content: center">
        <div>
        <md-bottom-bar class="md-accent" md-type="shift">
            <md-bottom-bar-item id="bottom-bar-item-home" md-label="Home" md-icon="home"></md-bottom-bar-item>
            <md-bottom-bar-item id="bottom-bar-item-pages" md-label="Pages" md-icon="pages"></md-bottom-bar-item>
            <md-bottom-bar-item id="bottom-bar-item-posts" md-label="Posts" md-icon="pages"></md-bottom-bar-item>
            <md-bottom-bar-item id="bottom-bar-item-favorites" md-label="Favorites" md-icon="favorite"></md-bottom-bar-item>
        </md-bottom-bar>
        </div>
        <div>
            {{ message }}
        </div>
        <div>
            <input v-model="newName" type="text" style="background-color: black; color: white">
        </div>
        <button :class="{'test': test}" @click="addName" >Click Me</button>
        <ol>
            <li v-for="name in array" v-text="name"></li>
        </ol>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            newName: '',
            message: 'hello Vues!',
            array: ["Sue", "Tom", "Henry"],
            test: true,
        }
    },
    methods: {
        addName() {
            this.array.push(this.newName);
            this.newName = '';
        }
    }

}
</script>


<style lang="scss" scoped>
$radius: 10px;
.md-bottom-bar {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    border-radius: $radius;
}
.md-ripple {
    border-radius: $radius;
}

</style>
